.foother{
    width: 100%;
    margin: 0;padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;padding: 0;
    align-items: center;
}
.foother-kart{
    border-radius: 30px;
    width: 1200px;
    height: 500px;
}
.foother-title{
    font-size: 48px;
    font-family: sans-serif;
    color: black;
    text-align: center;
    margin-bottom: 50px;
}
.foother-list{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.foother-input-ism, .foother-select, .foother-input-tel, .foother-input-data{
    width: 560px;
    height: 60px;
    border-radius: 40px;
    border: transparent;
    font-size: 22px;

}
.foother-select{
    display: block;
}
.foother-item-text{
    font-size: 22px;
    margin-left: 10px;
    font-family: sans-serif;
    color: rgb(124, 124, 124);
}
.foother-input{
    width: 120px !important;
}
.foother-item-title{
    margin-bottom: 20px;
    font-size: 22px;
    font-family: sans-serif;
    color: rgb(124, 124, 124);
    margin-left: 50px;
}
.foother-list-select{
    width: 1150px;
    height: 60px;
    border-radius: 40px;
    border: transparent;
    font-size: 22px;
    margin: 0;
    margin-left: 40px;
}
.foother-btn{
    width: 1100px;
    margin-left: 50px;
    height: 60px;
    border-radius: 50px;
    margin-top: 50px;
    font-size: 28px;
    border: transparent;
    color: white;
    background-color:  rgb(2, 160, 160);
    transition: 0.9s;
}
    .foother-btn:hover{
        border: 1px solid black;
        background-color: white;
        color: black;
    }
    .foother-content{
        width: 100%;
        height: 200px;
        margin: 0;
        padding: 0;
        background-color:  rgb(2, 160, 160);
    }
    .foother-content-title{
        margin-top: 90px;
        font-size: 34px;
        color: aliceblue;
        font-family: sans-serif;
        font-weight: 10px;

    }
    .foother-content-text{
        margin-top: -25px;
        font-size: 24px;
        color: aliceblue;
        font-family: Arial, Helvetica, sans-serif;
    }
    .foother-link{
        padding:  10px 40px; 
        border-radius: 30px;
        text-decoration: none;
        color: white;
        margin-top: 150px;
        background-color:  rgb(2, 160, 160);
        border: 2px solid white;
        transition: 1s;
    }
    .foother-content-list{
        margin-top: 20px;
        display: flex;
        justify-content:space-around ;
        align-items: center;
    }
    .foother-link:hover{
        border: 1px solid black;
        background-color: white;
        color: black;
    }
    @media (max-width: 1200px) {
        .container{
            max-width: 1100px;
        }
        .foother-kart{
            width: 1100px;
            margin: 0;
            margin-left: 20px;
        }
        .foother-select{
            width: 500px;
        }
        .foother-list-select{
            width: 1050px;
            margin: 0;margin-left: 40px;
        }
        .foother-btn{
         margin-left: 20px;
        }
        .foother-item-title{
            margin-left: 50px;
        }
    }
    @media (max-width: 1100px) {
        .container{
            max-width: 1000px;
        }
        .foother-select{
            margin-right:  10px;
            width: 470px;
        }
        .foother-kart{
            width: 980px;
        }
        .foother-list-select{
            width: 950px;
            margin-left: 0;
            margin-left: 40px;
        }
        .foother-item-title{
            margin-left: 50px;
        }
        .foother-btn{
            width: 980px;
            margin-left: 10px;
            margin-top: 20px;
        }
    }@media (max-width: 1000px) {
        .container{
            max-width: 900px;
        }
        .foother-select{
            margin-right:  10px;
            width: 420px;
        }
        .foother-kart{
            width: 880px;
        }
        .foother-list-select{
            width: 850px;
            margin-left: 0;
            margin-left: 40px;
        }
        .foother-item-title{
            margin-left: 50px;
        }
        .foother-btn{
            width: 880px;
            margin-left: 10px;
            margin-top: 20px;
        }
    }@media (max-width: 900px) {
        .container{
            max-width: 800px;
        }
        .foother-select{
            margin-right:  10px;
            width: 370px;
        }
        .foother-kart{
            width: 780px;
        }
        .foother-content-text{
            font-size: 20px;
        }
        .foother-content-title{
            font-size: 32px;
        }
        .foother-title{
            font-size: 36px;
        }
        .foother-list-select{
            width: 750px;
            margin-left: 0;
            margin-left: 40px;
        }
        .foother-item-title{
              margin-left: 50px;
        }
        .foother-btn{
            width: 780px;
            margin-left: 10px;
            margin-top: 20px;
        }
    }@media (max-width: 800px) {
        .container{
            max-width: 700px;
        }
        .foother-kart{
            width: 680px;
        }
        .foother-list{
            margin: 0;
            width: 650px;
        }
        .foother-select{
            margin: 0;
            width: 300px;
        }
        .foother-list-select{
            width: 650px;
            margin-left: 0;
            margin-left: 40px;
        }
        .foother-btn{
            width: 680px;
            margin-left: 10px;
            margin-top: 20px;
        }
        .foother-item-title{
            margin-left: 50px;
        }
    }@media (max-width: 700px) {
        .container{
            max-width: 600px;
        }
        .foother-list{
            max-width: 590px;
        }
        .foother-select{
            margin-right:  10px;
            width: 280px;
        }
        .foother-content-text{
            font-size: 18px;
        }
        .foother-content-title{
            font-size: 30px;
        }
        .foother-kart{
            width: 580px;
            height: 400px;
        }
        .foother-list-select{
            width: 580px;
            margin-left: 0;
            margin-left: 45px;
        }
        .foother-btn{
            width: 580px;
            margin-left: 10px;
            margin-top: 20px;
        }
    }
    @media (max-width: 600px) {
        .container{
            max-width: 500px;
        }
         .foother-list{
            margin: 0 !important;
            display: flex;
            flex-direction: column;
            width: 480px;
            align-items: center;
         }
        .foother-content{
            height: 330px;
        }
        .foother-select{
            width: 480px;
            margin: 0 ;
            margin-bottom: 20px;
        }
        .foother-list-select{
            width: 480px;
            margin-left: 40px !important;
        }
        .foother-content-list{
            display: flex;
            flex-direction: column;
        }

        .foother-title{
            font-size: 32px;
        }
        .foother-kart{
            width: 480px;
        }
        .foother-item-title{
            font-size: 22px;
        }
        .foother-select{
            font-size: 22px;
        }
        .foother-btn{
            font-size: 22px;
        }
        .foother-list-select{
            width: 480px;
            margin-left: 0;
            margin-bottom: 10px;
            margin-left: 10px;
        }
        .foother-btn{
            width: 480px;
            margin-left: 10px;
            margin-top: 20px;
        }
    }
    @media (max-width: 500px) {
        .container{
            max-width: 400px;
        }
        .foother-kart{
            width: 380px;
        }
        .foother-list{
            width: 350px;
        }
        .foother-select{
            margin: 0;
            margin-bottom: 10px;
            margin-right: 40px;
            width: 350px;
        }
        .foother-content-text{
            font-size: 20px;
        }
        .foother-item-title{
            margin: 0 !important;
            margin-left: 35px !important;
        }
        .foother-list-select{
            width: 350px;
            margin: 0 !important;
            margin-left: 25px !important;
        }
        .foother-btn{
            width: 380px;
            margin-left: 10px;
            margin-top: 20px;
        }
    }@media (max-width: 400px) {
        .container{
            max-width: 300px;
        }
        .foother-item-title{
            margin: 0 !important;
            margin-left: 20px !important;
            font-size: 20px;
        }
        .foother-list-select{
            margin: 0 !important;
            margin-left: 10px !important;
            width: 250px;
        }
        .foother-list{
            width: 250px;
        }
        .foother-select{
            width: 250px;
            font-size: 20px;
        }
        .foother-item-text{
            font-size: 20px;
        }
        .foother-content-text{
            font-size: 30px;
        }
        .foother-btn{
            font-size: 20px;
        }
        .foother-title{
            font-size: 30px;
        }
        .foother-kart{
            width: 280px;
        }
        .foother-select{
            margin: 0;
            margin-bottom: 10px;
            margin-right: 40px;
            width: 280px;
        }
        .foother-list-select{
            width: 280px;
            margin-left: 0;
            margin-bottom: 10px;
            margin-left: 10px;
        }
        .foother-btn{
            width: 280px;
            margin-left: 10px;
            margin-top: 20px;
        }
    }@media (max-width: 300px) {
        .container{
            max-width: 250px;
        }
        .foother-title{
            font-size: 26px;
        }
        .foother-kart{
            width: 230px;
            height: 230px;
        }
        .foother-item-title{
            font-size: 18px;
            margin-left: 50px !important;
        }
        .foother-item-text{
           font-size: 18px;
        }
        .foother-select{
            font-size: 18px;
        }
        .foother-btn{
            font-size: 18px;
        }
        .foother-list{
            width: 200px;
        }
        .foother-select{
            margin: 0;
            margin-bottom: 10px;
            margin-right: 0px;
            width: 200px;
        }
        .foother-list-select{
            width: 200px;
           margin: 0 !important;
           margin-right: 20px !important;
        }
        .foother-btn{
            width: 230px;
            margin-left: 20px;
            margin-top: 20px;
        }
    }