.hero{
    width: 100%;
    padding: 0;
    margin: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.hero-box {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: rgb(2, 160, 160);
  height: 60px;
  padding: 0;
  margin: 0 auto;
}
.hero-list{
    width: 1200px;
    height: 100px;
    border-radius: 90px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-left: 100px;
}
.hero-item{
    display: flex;
    
}
.hero-item-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgb(2, 160, 160);
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.6s;
}
.hero-item-link:hover{
    color: black;
    background-color: aliceblue;
    border: 1px solid black;
}
.hero-item-text{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(126, 126, 126);
}
.hero-swiper-text{
    font-size: 24px;
   padding-top: 100px;
 color: rgb(255, 255, 255);
}
.herojon-icon{
  width: 30px;height: 20px;
  color: rgb(2, 160, 160);
}
.hero-title{
    color: white;
    font-size: 60px;
    padding-top: 10px;
    text-align: center;
}
#hero-swiper-tu {
    background-image: url('https://zamontour.uz/assets/images/dubai2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%; 
    height: 700px;
  }
  
  #hero-swiper-one {
    background-image: url("https://zamontour.uz/assets/images/istanbul.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;  /* kenglikni 100% qilib qo'yish yaxshiroq */
    height: 700px;
  }
  
  #hero-swiper-fo {
    background-image: url('https://zamontour.uz/assets/images/antalya2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;  /* kenglikni 100% qilib qo'yish yaxshiroq */
    height: 700px;
  }
  .hero-icons{
    width: 150px !important;
    height: 50px !important;
  }
#hero-swiper-siri {
  background-image: url("https://zamontour.uz/assets/images/sharm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 1500px;
  height: 700px; 
}
#lng{
  width: 40px;
  height: 20px;
  border-radius: 10px;
}
.hero-modal{
  height: 300px;
}
.w{
  margin: 0;
}
.hero-ico{
  width: 220px;
}
.box-linkes{
  font-size: 24px;
   color: rgb(74, 74, 74);
}
.box-linkes:hover{
  color: aqua;
}
.hero-option{
  font-size: 12px;
  width: 120px;
  color: rgb(41, 41, 41);
}
.hero-swiper-btn {
    font-size: 1.2rem;
    background-color: rgb(2, 160, 160);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.8s;
  }
  .hero-swiper-btn:hover{
   border:  1px solid black;
   background-color: white;
   color:  rgb(2, 160, 160);;
  }
  .hero-item-title{
    margin-left: 20px;
    font-size: 22px;
    color:  rgb(2, 160, 160);;
  }
  .hero-images-1{
    width: 160px;
    margin-bottom: 40px;
  }
  .hero-icon{
    width: 80px;
    height: 80px;
    color:  rgb(2, 160, 160);;
  }
  .hero-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: space-around;
  }
  .boxjon{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    align-items: center;
  }
.box-item{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    list-style: none;
}
.box-item-tu{
    display: flex;
    justify-content: space-evenly;
    width: 160px;
    list-style: none;
}
.add-btn{
  display: none;
}
.box-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: rgb(0, 63, 63);
    font-weight: 10px;
}
.textjon{
    margin-top: -20px;
 font-size: 14px; 
 color: rgb(0, 63, 63);
}
.box-link{
    font-size: 18px;
    text-decoration: none;
    color: rgb(243, 243, 243);
}
@media (max-width: 1300px) {
  .hero-list {
      width: 1150px;
      margin: 0;
      margin-top: 50px;
  }
}

@media (max-width: 1200px) {
  .hero-title {
      font-size: 50px;
  }
  .hero-list{
    width: 1100px;
  margin: 0;
margin-top: 50px;  }
  .hero-icons{
    width: 70px;
    height: 70px;
  }
  .hero-swiper-text {
      font-size: 22px;
  }
}

@media (max-width: 1100px) {
  .hero-title {
      font-size: 40px;
  }
  .hero-swiper-text {
      font-size: 20px;
      margin: 0;
      margin-bottom: 5px;
  }
  .hero-list {
     width: 900px;
     margin: 0;
     margin-top: 50px;
  }
}

@media (max-width: 1000px) {
  .hero-list{
    margin-right: 50px;
    width: 850px;
    margin: 0;
    margin-top: 50px;
  }
  .hero-icon{
    width: 60px;
    height: 60px;
  }
  .hero-item-text{
    font-size: 14px;
    margin-bottom: 5px;
  }
  .hero-item-title{
    font-size: 20px;

  }

}

@media (max-width: 900px) {
  .hero-title {
      font-size: 36px;
  }
  .hero-swiper-text {
      font-size: 16px;
  }
  .hero-list {
      width: 750px;
      margin: 0;
      margin-top: 50px;
  }
  .hero-item-link{
    font-size: 18px;
  }
  .hero-icon{
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 800px) {
  .hero-title {
      font-size: 34px;
  }
  .hero-swiper-text {
      font-size: 14px;
  }
  .hero-item-text{
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
  }
  .hero-item-title{
    font-size: 16px;
  }
  .hero-item-link{
    font-size: 14px;
  }
  .hero-list {
      width: 650px;
      margin: 0;
      margin-top: 50px;
  }
}

@media (max-width: 700px) {
  .hero-title {
      font-size: 32px;
  }
  .hero-swiper-text {
      font-size: 14px;
  }
  .hero-item-link{
    font-size: 20px;
  }
    .hero-icon{
    width: 60px;
    height: 60px;
  }
  .hero-list {
    width: 580px;
    margin: 0;
    margin-top: 50px;
  }
  .hero-list {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    height: 150px;
    align-items: center;
    flex-wrap: wrap;
}
.hero-item-title{
  font-size: 18px;
}
  .box-link{
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .hero-title {
      font-size: 30px;
  }
  .hero-swiper-text {
      font-size: 13px;
  }
  .hero-icon{
    width: 50px;
    height: 50px;
  }
  .hero-list {
    display: flex;
    justify-content: space-evenly;
    width: 450px;
    height: 150px;
    align-items: center;
    flex-wrap: wrap;
}
.hero-item-link{
  font-size: 16px;
  padding: 8px 30px;
}
.hero-item-text{
  font-size: 14px;
}
.hero-item-title{
  font-size: 20px;
}
.box-item{
  display: none;
}
.add-btn{
  display: block;
}
}

@media (max-width: 500px) {
  .hero-title {
      font-size: 26px;
  }
  .hero-swiper-text {
      font-size: 14px;
  }
  .hero-item-title{
    font-size: 16px;
  }
  .hero-list {
      width: 350px;
      border-radius: 30px;
  }
  .hero-item-link{
    font-size: 14px;
    padding: 10px 35px;
   
  }
  .hero-ico{
    width: 180px;
  }
}

@media (max-width: 400px) {
  .hero-title {
      font-size: 22px;
  }
  .hero-swiper-text {
      font-size: 14px;
  }
  .hero-icon{
    width: 35px;
    height: 35px;
  }
  .hero-item-link{
    font-size: 14px;
    padding: 8px 15px;
   
  }
  .hero-item-text{
    font-size: 14px;
  }
  .hero-item-title{
    font-size: 16px;
   
  }
  .hero-list {
      width: 280px;
  }
  .hero-ico{
    width: 160px;
  }
}

@media (max-width: 300px) {
  .hero-title {
      font-size: 18px;
  }
  .hero-swiper-text {
      font-size: 14px;
  }
  .hero-icon{
    width: 40px;
    height: 40px;
  }
  .hero-item-text{
    width: 120px;
  }
  .hero-ico{
    width: 140px;
  }
  .hero-swiper-btn{
    font-size: 18px;
  }
  .hero-list {
    text-align: center;
    align-items: center;
      width: 180px;
      margin: 0;
      margin-top: 30px;
      margin-left: 30px;
      height: 250px;
  }
}
